@tailwind base;
@tailwind components;
@tailwind utilities;



/* --------------------  BURGERMENU -------------------- */
.hidden {
  opacity: 0;
  transform: translateX(100%);
}
/* -----positionerer 'X' i burgermenuen------ */
nav {
  display: grid;
  text-align: end;
  overflow: hidden;
}

#menuknap {
  cursor: pointer;
  font-size: 3rem;
  color: #000000;
}

#menu {
  text-align: end;
  list-style-type: none;
  transition: transform 0.3s;
}



  .typing-demo1 {
    --w: 18ch;
    width: 0ch;
    animation: typing 2.5s steps(22) forwards, blink .5s step-end infinite alternate ;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: 'BiauKai';
    font-size: 3em;
    animation-delay: 0.5s;

  }

  .typing-demo2 {
    --w: 21ch;
    width: 0ch;
    animation: typing 2.5s steps(22) forwards, blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: 'BiauKai';
    font-size: 3em;
    animation-delay: 2s;

  }
  .typing-demo3 {
    --w: 26ch;
    width: 0ch;
    animation: typing 2.5s steps(22) forwards, blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: 'BiauKai';
    font-size: 3em;
    animation-delay: 4s;
  }
  
  
  h1 {
    font-size: 4em;
    text-transform: uppercase;
    font-family: 'BiauKai';
  }

  h2 {
    font-size: 3em;
    text-transform: uppercase;
    font-family: 'BiauKai';
  }
  
  span {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
  }

  .a-box:hover {
      animation-name: scale-up-center;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
  }

  .scroll-down {
    grid-column: 1/-1;
    grid-row: 2;
    display: flex;
    justify-content: center;
    z-index: 1;
    pointer-events: none;
  }

  .bg-img {
          /* The image used */
      background-image: url("./img/bg_image.jpg");
      min-height: 100%;
     

      /* Needed to position the navbar */
    position: relative;
  }

  .big-img-phone {
    background-image: url("./img/bg_phone.jpg");
    min-height: 100%;
    position: relative;

  }
  
  
  /* Navbar links */
  a {
    font-family: 'BiauKai';
  }

  .portfolio_animation {
    font-family: 'BiauKai';
    grid-column: 1/-1;
    font-size: 3rem;
    grid-row: 2;
    display: flex;
    justify-content: center;
    z-index: 1;
    letter-spacing: 0.5rem;
    animation-delay: 10s;
  }
  
/* ***************************** ANIMATIONS *****************************  */

/* animerer typografien der bliver skrevet */
@keyframes typing {
  to {
    width: var(--w);
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}


  
/* laver typografi-animation */

@keyframes caret {
    50% {
      border-color: transparent;
    }
  }


  /* nav slider ned fra oven */
  .slide-down1 {
	        animation: slide-down1 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


  @keyframes slide-down1 {
    0% {
        transform: translateY(-600px);
    }
    100% {
              transform: translateX(0px);
    }
  }
  

   .slide-down2 {
	        animation: slide-down2 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            /* animation-delay: 2s; */
    }


  @keyframes slide-down2 {
    0% {
        transform: translateY(-1000px);
    }
    100% {
              transform: translateX(0px);
    }
  }

  /* nav slider ind fra højre side */

  .slide-in {
	        animation: slide-in 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


  @keyframes slide-in {
    0% {
        transform: translateX(2000px);
    }
    100% {
              transform: translateX(0px);
    }
  }

 /* nav forstørres ved hover */
  .scale-up-center {
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) ;
}

  @keyframes scale-up-center {
    0% {
              transform: scale(1);
    }
    100% {
              transform: scale(1.5);
    }
  }
  

  /* bounce effekt på scroll knappen */

  .bounce-top {
	        animation: bounce-top 2s infinite both;
}

  @keyframes bounce-top {
    0% {
              transform: translateY(-45px);
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
              transform: translateY(-24px);
              animation-timing-function: ease-in;
    }
    65% {
              transform: translateY(-12px);
              animation-timing-function: ease-in;
    }
    82% {
              transform: translateY(-6px);
              animation-timing-function: ease-in;
    }
    93% {
              transform: translateY(-4px);
              animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
              transform: translateY(0px);
              animation-timing-function: ease-out;
    }
    100% {
              transform: translateY(0px);
              animation-timing-function: ease-out;
      opacity: 1;
    }
  }
  




  /* slider opacity box ned fra oven */

  /* nav slider ned fra oven */
  .slide-down-opacity {
	        animation: slide-down-opacity 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


  @keyframes slide-down-opacity {
    0% {
        transform: translateY(-1000px);
    }
    100% {
              transform: translateX(0);
    }
  }



  /* portfolio animation */

  .tracking-in-expand-fwd {
	        animation: tracking-in-expand-fwd 2.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 2.2s both;
}

  @keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
              transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
              transform: translateZ(0);
      opacity: 1;
    }
  }


  /* slider logo ind */
  .slide-in-left {
	        animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

  @keyframes slide-in-left {
    0% {
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
              transform: translateX(0);
      opacity: 1;
    }
  }
  

  /* slider navigationen ind */
  
  .slide-in-right {
	        animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

  @keyframes slide-in-right {
    0% {
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
              transform: translateX(0);
      opacity: 1;
    }
  }
  

  @media (min-width: 600px) {
    /* --------------------  BURGERMENU -------------------- */
    #menuknap {
      display: none;
    }
  
    #menu.hidden {
      transform: translateX(0);
      opacity: 1;
    }
  
    #menu li {
      display: inline-block;
      padding: 2rem;
    }
  
    p {
      text-align: justify;
    }
  }